/* styles.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#monster-form {
    margin-bottom: 20px;
}

#monster-list {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.monster-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

button {
    margin-top: 10px;
    margin-left: 230px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
